ul.css-menu-3 {
	list-style: none;
	border-bottom: 5px solid #bb0000;
	border-top: 1px solid #114477;
	padding: 11px;
	background: #336699
	}
	
	ul.css-menu-3 li {
	display: inline
	}
	
	ul.css-menu-3 li a {
	color: #fefefe;
	text-decoration: none;
	background: #225588;
	border: 1px solid #225588;
	border-bottom: 1px solid #114477;
	margin: 0; 
	padding: 10px 14px 10px 14px 
	}
	
	ul.css-menu-3 li a:hover {border-left: 1px solid #114477; border-right: 1px solid #114477}
	
	ul.css-menu-3 li a.selected {
	color: #fefefe;
	background: #bb0000;
	border: 1px #cc0000 solid;
	border-bottom: 1px solid #bb0000;
	border-left: 1px solid #770000;
	padding: 10px 14px 10px 14px
	}


.titles_first {
	font-size: 40px;
	color: red;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
}
.image-aligh{
	text-align:center;
}
div {
	box-sizing: border-box;
}
.title {
	padding-top: 115px;
}
.services {
	margin-top: 80px;
}
.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#services {
	padding-bottom: 120px;
}
.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}
.photo{
	text-align: center;
}
.lol{
	display: block;
	margin: auto;
}
h1{
	text-align: center
}
footer  {
	width: 100%;
	height: auto;
	padding: 1%;
	background: #000000;;
	margin: 0 auto;
	text-align: center;
	padding: top 25px;

}
footer a{
	color: white;
	font-size: 25px;
	margin-left:10px;
}
.foter-photo{
	height:15;
	width:300;
	margin-top:100px;
}
.info{
	text-align: center;
}
.my{
	color:#8A8A8A;
	}